<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context.xsd
   			http://www.springframework.org/schema/data/mongo
   			http://www.springframework.org/schema/data/mongo/spring-mongo-1.0.xsd
			http://www.springframework.org/schema/util 
			http://www.springframework.org/schema/util/spring-util.xsd">

	<context:component-scan base-package="sr.api" />

	<!-- Mongo property dosyasi yuklenir -->
	<context:property-placeholder location="classpath:libmongodb.properties" />

	<!-- Mongo db repository ozelligi aktif edilir -->
	<mongo:repositories base-package="sr.api.persistence.dao" />

	<!-- Mongo ayarlanir -->
	<mongo:mongo host="${config.mongodb.host.name}" port="${config.mongodb.host.port}" />

	<!-- Mongodb islemleri icin template ayarlanir (Spring ile) -->
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate"
		c:mongo-ref="mongo" c:databaseName="${config.mongodb.database.name}">
	</bean>


</beans>